.card {
    display: inline-block;
    justify-content: center;
    width: 300px;
    /* margin: auto; */
    font-family: "Inter", sans-serif;
    text-align: center;
    height: 240px;
    margin: 3rem;
    padding: 1.5rem;
    color: var(--White);
    background-color: var(--DarkGray);
    border-radius: 20px;
}
/* .card:hover{
    color: var(--Green);
    background-color: var(--White);
} */

