.body {
    background-color: var(--LightBlack);
    font-family: "Inter", sans-serif;
    font-size: 14px;
    height: 50vh;
    padding: 0 1.5rem;
  }
  
.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 350px;
    margin: auto;
    text-align: center;
    padding: 1.5rem;
    color: var(--White);
    background-color: var(--DarkGray);
    border-radius: 20px;
}