.img-container img {
    width: 100%;
    border-radius: 50%;
}

.img-container {
    margin: auto;
    width: 90px;
    height: 95px;
    border-radius: 50%;
}

.section {
    padding: 0;
}

.section h2 {
    font-size: 1.2rem;
    font-weight: 650;
    height: 40px;
}

.section h3 {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--Green);
}

.section P {
    margin-top: 0.4rem;
    font-size: 0.9rem;
    font-weight: 350;
    color: var(--LightGray);
}