.img-container img {
    width: 100%;
    border-radius: 50%;
}

.img-container {
    margin: auto;
    width: 90px;
    height: 95px;
    border-radius: 50%;
}

.section {
    margin-top: 1.25rem;
}

.character__name {
    font-size: 1.5rem;
    font-weight: 650;
}

.character__status {
    margin-top: 0.4rem;
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    color: var(--Green);
}

.character__data {
    margin-top: 0.4rem;
    font-size: 1rem;
    font-weight: 350;
    color: var(--LightGray);
}