.episodes {
  margin-top: 2rem;
  margin-bottom: 50px;
}

.episodes h2 {
  margin-top: 0;
  margin-right: 20px;
  margin-bottom: 40px;
  color: var(--Green);
}

.episodes__section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.episode__item {
  justify-content: center;
  flex: 1;
  margin: 0 5px;
}

.episode__item h3 {
  height: 5rem;
  margin-top: 0;
  margin-bottom: 22px;
  color: var(--LightGray);
}

.episode__item p {
  margin: 0;
}