:root {
  --LightBlack: #141414;
  --DarkGray: #1f1f1f;
  --Gray: #333333;
  --LightGray: #bbb7b7;
  --White: #ffffff;
  --Green: #c5f82a;
}

body {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  background-color: var(--LightBlack);
}

@media screen and (min-width: 1440px) {
  .card {
    padding: 2.3rem;
  }
}